@use '@/scss/typescale';

.container {
  align-items: center;
  background: var(--md-sys-color-surface-container);
  display: flex;
  gap: 16px;
  height: 64px;
  padding-inline: 16px;
  width: 100%;
}

.headline {
  @include typescale.shorthand('title-large');

  color: var(--md-sys-color-on-surface);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-button {
  flex: 0 0 auto;
  margin-inline: -8px;
}

.actions {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  gap: 24px;
  justify-content: flex-end;
  overflow: visible;
}
