@use 'sass:map';

@use '@material/web/textfield/outlined-text-field';
@use '@material/web/tokens';

$tokens: (
  'md-sys-typescale': tokens.md-sys-typescale-values(),
);

.remove-category-button {
  margin-inline: -4px 4px;
}

.new-category-input {
  @include outlined-text-field.theme(
    (
      bottom-space: 0,
      focus-outline-width: 0,
      hover-outline-width: 0,
      input-text-font: map.get($tokens, 'md-sys-typescale', 'body-medium-font'),
      input-text-line-height: map.get($tokens, 'md-sys-typescale', 'body-medium-line-height'),
      input-text-size: map.get($tokens, 'md-sys-typescale', 'body-medium-size'),
      input-text-weight: map.get($tokens, 'md-sys-typescale', 'body-medium-weight'),
      outline-width: 0,
      top-space: 0,
      trailing-space: 12px,
    )
  );

  height: 48px;
  margin-inline: -24px;
  padding-inline: 12px;
  width: calc(100% + 48px);
}
