.item {
  position: relative;

  &:after {
    background: var(--md-sys-color-on-surface);
    content: '';
    inset: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity 375ms 200ms linear;
    opacity: 0;
  }
}

.target:after {
  opacity: 0.1;
}

.snackbar {
  bottom: 16px;
  inset-inline: 16px;
  position: fixed;
}
