@use '@/scss/typescale';

.fallback {
  align-items: center;
  color: var(--md-sys-color-on-surface-variant);
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding-inline: 24px;
  text-align: center;

  h1 {
    @include typescale.shorthand('title-large');
    margin: 0 0 12px;
  }

  p {
    @include typescale.shorthand('body-large');
    margin: 0;
  }
}
