@use 'sass:map';

@use '@material/web/tabs/primary-tab';

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  @include primary-tab.theme(
    (
      container-color: none,
    )
  );

  background: var(--md-sys-color-surface-container);
  flex: 0 0 auto;
  position: relative;
}

.content {
  flex: 1;
  overflow-y: scroll;
}

.progress {
  position: absolute;
  inset-inline: 0;
  z-index: 1;
}
