@use '@material/web/iconbutton/icon-button';
@use '@material/web/list/list-item';

@use '@/scss/typescale';

.fallback {
  align-items: center;
  color: var(--md-sys-color-on-surface-variant);
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding-inline: 24px;
  text-align: center;

  h1 {
    @include typescale.shorthand('title-large');
    margin: 0 0 12px;
  }

  p {
    @include typescale.shorthand('body-large');
    margin: 0;
  }
}

.content {
  padding-bottom: 80px;
}

.selected {
  @include list-item.theme(
    (
      hover-state-layer-color: var(--md-sys-color-on-secondary-container),
      label-text-color: var(--md-sys-color-on-secondary-container),
      pressed-state-layer-color: var(--md-sys-color-on-secondary-container),
      supporting-text-color: var(--md-sys-color-on-secondary-container),
    )
  );

  @include icon-button.theme(
    (
      icon-color: var(--md-sys-color-on-secondary-container),
    )
  );

  background: var(--md-sys-color-secondary-container);

  > [slot='start'] {
    background: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
  }
}

.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

.snackbar {
  bottom: 88px;
  inset-inline: 16px;
  position: fixed;
}
