@use 'sass:map';

@use '@material/web/tokens';
@use '@material/web/iconbutton/icon-button';
@use '@material/web/list/list-item';

$tokens: (
  'md-sys-motion': tokens.md-sys-motion-values(),
  'md-sys-state': tokens.md-sys-state-values(),
);

.draggable-handle {
  @include icon-button.theme(
    (
      hover-state-layer-color: none,
      pressed-state-layer-color: none,
    )
  );

  touch-action: none;
}

.draggable {
  position: relative;

  :is(.dragging, .dropping) > & {
    transition: transform 200ms 0ms map.get($tokens, 'md-sys-motion', 'easing-standard');
  }

  &::before,
  &::after {
    box-shadow: 0 0 0 0 var(--md-sys-color-shadow);
    content: '';
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition-duration: 300ms;
    transition-property: box-shadow, opacity;
    transition-timing-function: inherit;
  }
}

.dragged {
  @include list-item.theme(
    (
      pressed-state-layer-opacity: map.get($tokens, 'md-sys-state', 'dragged-state-layer-opacity'),
    )
  );

  z-index: 1;
  background: var(--md-sys-color-surface);

  .dragging > & {
    transition-property: none;

    &::before {
      box-shadow: 0 2px 3px 0 var(--md-sys-color-shadow);
      opacity: 0.3;
    }

    &::after {
      box-shadow: 0 6px 10px 4px var(--md-sys-color-shadow);
      opacity: 0.15;
    }
  }
}
