@use 'sass:map';

@use '@material/web/button/text-button';
@use '@material/web/iconbutton/icon-button';
@use '@material/web/elevation/elevation';
@use '@material/web/ripple/ripple';
@use '@material/web/tokens';

@use '@/scss/typescale';

$tokens: (
  'md-sys-motion': tokens.md-sys-motion-values(),
  'md-sys-shape': tokens.md-sys-shape-values(),
);

.container {
  @include elevation.theme(
    (
      level: 3,
    )
  );

  align-items: center;
  background: var(--md-sys-color-inverse-surface);
  border-radius: map.get($tokens, 'md-sys-shape', 'corner-extra-small');
  color: var(--md-sys-color-inverse-on-surface);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition:
    opacity 150ms 0ms map.get($tokens, 'md-sys-motion', 'easing-legacy-decelerate'),
    transform 150ms 0ms map.get($tokens, 'md-sys-motion', 'easing-legacy-decelerate');

  & > * {
    flex: 0 0 auto;
  }
}

.open {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.closing {
  transform: scale(1);
  transition: opacity 75ms 0ms map.get($tokens, 'md-sys-motion', 'easing-legacy-accelerate');
}

.content {
  @include typescale.shorthand('body-medium');

  flex: 1 1 auto;
  padding: 14px 16px;

  &:not(:last-child) {
    padding-right: 0;
  }
}

.action {
  @include ripple.theme(
    (
      hover-color: var(--md-sys-color-inverse-primary),
      pressed-color: var(--md-sys-color-inverse-primary),
    )
  );

  @include text-button.theme(
    (
      focus-label-text-color: var(--md-sys-color-inverse-primary),
      hover-label-text-color: var(--md-sys-color-inverse-primary),
      hover-state-layer-color: var(--md-sys-color-inverse-primary),
      label-text-color: var(--md-sys-color-inverse-primary),
      pressed-label-text-color: var(--md-sys-color-inverse-primary),
      pressed-state-layer-color: var(--md-sys-color-inverse-primary),
    )
  );
}

.close-icon {
  @include ripple.theme(
    (
      hover-color: var(--md-sys-color-inverse-on-surface),
      pressed-color: var(--md-sys-color-inverse-on-surface),
    )
  );

  @include icon-button.theme(
    (
      focus-icon-color: var(--md-sys-color-inverse-on-surface),
      hover-icon-color: var(--md-sys-color-inverse-on-surface),
      hover-state-layer-color: var(--md-sys-color-inverse-on-surface),
      icon-color: var(--md-sys-color-inverse-on-surface),
      pressed-icon-color: var(--md-sys-color-inverse-on-surface),
      pressed-state-layer-color: var(--md-sys-color-inverse-on-surface),
    )
  );

  margin-inline: 4px;
}
